// content-first //

.content-first {

    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    h1 {
        text-transform: uppercase;
    }

    .col-md-4 {
        .img-responsive {
            margin: auto;
        }
    }

    .col-md-8 p {
        margin-left: 0;
        max-width: 1000px;
    }
}

.leftalign {
    text-align: left;
}

.cikcak {
    position: relative;
    margin: auto;
    width: 194px;
    height: 17px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/cikcak.png);

    margin-bottom: 20px;
}

// end content-first //
