.header {
    height: 62px;
    border: 1px solid $black;
    background-color: $dark-blue;
    font-family: $bold;
    position: fixed;
    top: 0;

    z-index: 100;
}

.header > div {
    display: inline-block;
}

.menuitem {
    background-color: $light-blue;
    color: $light-green;
    text-shadow: 3px 2px 0 $dark-green;
    height: 60px;
    width: 250px;
    text-transform: uppercase;
    text-align: center;
    line-height: 60px;
    position: relative;
    // top: -20px;
    overflow: hidden;
    cursor: pointer;
    // padding-left: 55px;
    background-repeat: no-repeat;
    opacity: 0.7;
}

.menuitem.active,
.menuitem:hover {
    background-color: $light-blue;
    opacity: 1;
}

.menuimage {
    display: inline-block;
    position: relative;
    top: 15px;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
}

.menuitem-prase .menuimage {
    background-image: url(../images/prase.png);
    background-position: center;
}

.menuitem-kesh .menuimage {
    background-image: url(../images/kesh.png);
    background-position: center;
}

.menuitem-zastava .menuimage {
    background-image: url(../images/zastava.png);
    background-position: center;
}

.menuitem-resitve .menuimage {
    background-image: url(../images/resitve.png);
    background-position: center;
}

.logo {
    background-color: $black;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;

    cursor: pointer;
}

@media (max-width: 1199px) {
    .header {
        font-size: 12px;
    }
}
