// COLORS //
$light-blue: #182648;
$dark-blue: #131e38;
$light-green: #71d079;
$dark-green: #36673c;
$red: #ca485a;
$black: #0e162a;
$white: #ffffff;

// END COLORS //
// FONT STACK //
$regular: clear_sansregular, sans-serif;
$bold: clear_sansbold, sans-serif;
